.barra {


    .barra_mes {

        box-shadow      : 0 2px 4px o rgba(35, 29, 25, 0.08);
        margin-left     : 44px;
        height          : 8px;
        width           : 102px;
        border-radius   : 2px;
        background-color: #EFE9E5;

        & --item {
            height    : 9px;
            box-shadow: 0 2px 4px rgba(35, 29, 25, 0.08);
            left      : 0;

            &.dourado {
                background-color: yellow;
                width           : 74%; // quando for deixa dinamico comente este widht
                border-radius   : 2px 0 0 2px;
            }
        }
    }
}