.table_main {

    //   display: flex;

    // border: 1px solid;

    margin-left: 133px;

    .trs{


        display: flex;
        border-bottom: 1px solid;

        .super {

            padding-right: 172px;
            padding-bottom: 10px;
            // display: grid;
    
    
        }
    
        .play_1{
    
            padding-right: 45px;
            padding-bottom: 10px;
            display: grid;
        }
    }

    .jogos_lista {


        .jogos{

            border-bottom: 1px solid;
            display: grid;


        }

        .jogosplay{

            display: flex;
            margin-left: 283px;
        }
    }
    
}